<section class="mt-5 ms-5 p-3">
<h1 class="" style = "font-size: 60px;" >NODAR KVARAIA</h1>
<div class="d-flex gap-3 ">
<a href="https://github.com/PlayCosmo"  class="p-3 social" style="border-right: 1px solid blue">GITHUB</a>
<a href="https://www.linkedin.com/in/nodar-kvaraia-2ab7abb8/" class="p-3 social" style="border-right: 1px solid blue">LINKEDIN</a>
<a href="https://www.facebook.com/nqvaraia?locale=ka_GE" class="p-3 social" style="border-right: 1px solid blue">FACEBOOK</a>
<!-- <a href="#" class="p-3 social" style="border-right: 1px solid blue">PORTFOLIO</a> -->
</div>
</section>
<hr>


<section class="mt-5 ms-5 p-3" style="width: 80%; ">
  <h3>PROFILE</h3>
  <p>Front-End Developer with 2+ years of experience in creating responsive web applications using JavaScript and
  TypeScript. Skilled in Angular, HTML5, CSS3, REST API, Boostrap 5.3,  npm. Proficient in component-based development and RxJS. 
   </p>
</section>
<hr>

<section class="d-flex gap-3 mb-5 " style="width: 100%">
    <div class="w-75 mt-5 ms-5  mb-3" style="border-right: 1px solid gray">
      <h3 class="mt-5 mb-3">PROFESSIONAL EXPERIENCE</h3>
      <div>
        <h4 class="mt-3 mb-3">Personal Projects</h4>
        <div class="mt-3" style="border-bottom: 1px solid gray">
        <h5 class="mt-3 mb-3">Online Shop</h5>
        <p class="w-75"><span style=" font-weight: bold;">Description: </span>Within the framework of the project, I am tasked with developing a web application where the user can navigate Authorize and log into the system. Customers will be able to browse the online store Available items, filter them by category, brand, price and rating. It is also possible Search for an item by name. In case of authorization, for the purpose of purchase, the customer can put the desired item in the so-called basket. The customer can check the items in the cart Quantity to change or remove from cart. System for the total price of the items in the cart automatically calculates. The user can also write a rating for this or that product and leave it Text evaluation.</p>
        <p><span style=" font-weight: bold;">Source: </span>Everest Rest API <a href="https://everrest.educata.dev/" style="font-size: 13px; text-decoration: none;">https://everrest.educata.dev/</a></p>
        <p><span style=" font-weight: bold;">Source 2: </span> Online Shop Swagger <a href="https://api.everrest.educata.dev/swagger#/" style="font-size: 13px; text-decoration: none;">https://api.everrest.educata.dev/swagger#/</a></p>
        <p><span style=" font-weight: bold;">My Project: </span> GitHub Link <a href="https://playcosmo.github.io/E-Comerce-Angular/" style="font-size: 13px; text-decoration: none;">https://playcosmo.github.io/E-Comerce-Angular/</a></p>
        </div>


        <div class="mt-3" style="border-bottom: 1px solid gray">
          <h5 class="mt-3 mb-3">Online Restaurant</h5>
          <p class="w-75"><span style=" font-weight: bold;">Description: </span>In the framework of the project, I develop an online restaurant application, through which
            Customers will be able to view the dishes presented in the restaurant and order them.</p>
          <p><span style=" font-weight: bold;">Source: </span> Online Restaurant Swagger <a href="https://restaurant.stepprojects.ge/swagger/index.html" style="font-size: 13px; text-decoration: none;">https://restaurant.stepprojects.ge/swagger/index.html</a></p>
          <p><span style=" font-weight: bold;">My Project: </span> GitHub Link <a href="https://playcosmo.github.io/Online-Restaurant/" style="font-size: 13px; text-decoration: none;">https://playcosmo.github.io/Online-Restaurant/</a></p>
          </div>


      </div>


      
    </div>
    
    <div >
      <div class=" ms-3">
        <h3 class="mt-5 mb-3">CONTACT</h3>
        <p><i class="fa-solid fa-phone"></i> +(995) 571 18 38 85</p>
        <p><i class="fa-solid fa-envelope"></i> nodari.kvaraia&#64;gmail.com</p>
        <p><i class="fa-solid fa-location-dot"></i> TBILISI, GEORGIA</p>
      </div>
      <div class="ms-3">
        <h3 class="mt-5 mb-3 ">EDUCATION</h3>
        <div class="d-flex flex-column gap-3">
        <h5>IT STEP Academy GEORGIA - Programming Course</h5>
        <p>Front-End Development 10-2023 - 06-2024 </p>
        <p>Back-End Development  06-2024 - Present</p>
      </div>
      </div>
      <div class=" ms-3">
        
        <h3 class="mt-5 mb-3">SKILLS</h3>
        <div class="d-flex flex-column gap-3">
        <li>Languages: HTML5, CSS3(Sass/Scss), JavaScript(JS), TypeScript(TS)</li>
        <li>Frameworks/libraries: Angular, Boostrap, RxJS</li>
        <li>Tools: npm</li>
        <li>Version Control: Git, GitHub</li>
      </div>
      </div>
      <div class=" ms-3">
        <h3 class="mt-5 mb-3">INTERESTS</h3>
        <div class="d-flex flex-column gap-3">
        <li>Full-Stack Development</li>
        <li>Front-End Development</li>
        <li>Back-End Development</li>
      </div>
      </div>

      <div class=" ms-3">
        <h3 class="mt-5 mb-3">LANGUAGES</h3>
        <div class="d-flex flex-column gap-3">
        <li>Georgian - Native</li>
        <li>English - C1</li>
        <li>Russian - B2</li>
        </div>
      </div>
    </div>

</section>